/* Font used
font-family: 'PT Sans', sans-serif; 
*/

/*reset*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*utility classes*/

.flow-content > * + * {
  margin-top: 1rem;
}

:root {
  --clr-base-100: #fff;
  /* --clr-base-200: #e5e5e5; */

  --clr-accent-300: #59e89c;

  --clr-dark-300: #333333;
  --clr-dark-400: #171717;

  --ff-base: "PT Sans", sans-serif;

  --fw-light: 200;
}

body {
  font-family: var(--ff-base);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
}

.hero {
  background-image: url("./assets/hero.jpg");
  padding-top: 15.2rem;
  padding-bottom: 15.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-textBox {
  background: var(--clr-base-100);
  max-width: 44vw;
  margin: 0 auto;
  text-align: center;
  padding: 1em 2em;
}

.hero-textBox-title {
  font-weight: var(--fw-light);
}

.hero-textBox-p {
  line-height: 1.5;
}

.hero-textBox-button {
  display: inline-block;
  background: var(--clr-accent-300);
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: inherit;
  text-decoration: none;
  padding: 1em 2em;
}
